:root {
  --primary-color: #538ddf;
  --secondary-color: #ffffff;
  --accent1-color: #4f495a;
  --accent2-color: #344055;
  --gradient: linear-gradient(45deg, var(--blue-color), var(--white-color));

  font-family: "Roboto", san-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo-box {
  margin: 0 0.25rem 0 1rem;
  padding-left: 60px;
  width: 100px;
  height: auto;
}

header {
  background-color: whitesmoke;
  color: white;
  padding: 10px 20px;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px; /* Space between links */
}

.nav-links li {
  display: inline;
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  transition: background 0.3s;
}

.nav-links a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  /* border-radius: 5px; */
}

body {
  max-width: 1400px;
  margin: 0 auto;
  font-family: "Outfit", sans-serif;
}

main div h1 {
  font-family: "Trebuchet MS", sans-serif;
}

main section h2 {
  font-family: "Trebuchet MS", sans-serif;
}

main h2 {
  font-family: "Trebuchet MS", sans-serif;
}

.hero {
  position: relative;
}

.hero article img {
  width: 250px;
}

.hero article {
  display: grid;
  grid: auto/4fr 0fr;
  gap: 5px;
  position: absolute;
  top: 150px;
  left: 110px;
  background-color: rgba(8, 50, 85, 0.8);
  padding: 20px;
  color: white;
}

.hero h1 {
  position: absolute;
  top: 35px;
  color: white;
  padding: 10px 0;
  background-color: rgb(41, 40, 40, 0.6);
  width: 100%;
  text-align: center;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

section {
  margin-top: 50px;
}

h1 {
  font-size: 2rem;
  font-family: Acme, Arial, sans-serif;
}
.history {
  display: flex;
  justify-content: center;
  align-items: center;
}
.history img {
  max-width: 300px;
  max-height: 250px;
  padding: 20px;
}

h2 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #00246b;
  font-size: 1.5rem;
}

nav {
  padding-right: 150px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  padding: 10px 10px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04aa6d;
}

.images {
  display: grid;
  justify-content: space-evenly;
  align-items: center;
  grid-template-columns: repeat(5, 1fr);
}

.images img {
  max-width: 220px;
  max-height: 150px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

figcaption {
  background-color: #222;
  color: #fff;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
  max-width: 220px;
  max-height: 150px;
}

footer {
  display: flex;
  /* align-items: center; */
  justify-content: right;
  margin-top: 10px;
  /* padding-left: 60px; */
}

footer {
  width: 100%;
  background-color: black;
  padding: 10px;
  padding-top: 15px;
  color: white;
}

div.author {
  flex: 0.9;
  text-align: center;
}

nav.sociallinks {
  display: flex;
  padding: 0;
  gap: 10px;
}

.sociallink a:hover {
  opacity: 0.9;
}

/* .sociallink a:visited {
  color: purple;
  text-decoration: none;
} */

.sociallinks img {
  width: 24px;
  height: auto;
}
